a{
    text-align: center;
    display: block;
    font-size: 15px;
}

img {
    width: 100%;
}

.logo{
    width: 100px;
}

.ohtani-logo{
    align-items: center;
}

.blank{
    gap: 20px;
}

.ohtani-header{
    background-color: #84c3ff;
}

.topnav {
    align-items: center;
    overflow: hidden;
    
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    margin-top: 4px;    
    margin-bottom: 4px;
    font-size: 24px;
    display: inline-flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  

  .topnav a:hover {
    background-color: #ba0021;
    color: #ffffff;
  }

  .active {
    background-color: #84c3ff;
    color: #ffffff;
  }

* {
    box-sizing: border-box;

}

input, textarea{
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: -4px 6px #ba0021;
    background-color: #84c3ff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    font-size: 17px;
}

.subscribe-button{
    font-size: 17px;
    font-weight: bold;
    width: 106px;
    height: 38px;
}

a:hover{
    background-color: #ba0021
}

a:-webkit-any-link {
    cursor: pointer;
}

.ohtani-main-main-wrapper{
    align-items: center;
    overflow: clip;
    justify-content: flex-end;
    position: absolute;
    font-size: 1px;
}

.ohtani-footer{
    padding-top: 20px;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
}

form{
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
  }

  
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      display: flex;
      position: absolute;
      right: 28px;
      top: 27px;
      font-size: 23px;
      background-color:#84c3ff ;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      display: flex;
      position: absolute;
      background-color: #ba0021;
      right: 28px;
      top: 27px;
      font-size: 23px;
    }
    .topnav.responsive a {
      position: relative;
      display: block;
      text-align: center;
    }
  }
  
  @media (max-width: 600px) {
      .topnav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      }
  }

  @media (min-width: 601px) {
    .ohtani-hero{
    position: relative;
    }
}

  @media (min-width: 601px) {
    .ohtani-headline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
}

.ohtani-hero{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(52, 52, 52, 1.55) ), url(../img/ohtani-pitching-cropped.jpg);
    background-size: cover;
    background-position: center;
}


.learn-more-button{
    box-sizing: border-box;
    box-shadow: -4px 6px #84c3ff;
    background-color: #ba0021;
    font-size: 2vw;
    color: #ffffff;
    position: relative;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 30px;
    cursor: pointer;
}

.thanks-page-mini-text{
    font-size: 25px;
}

.thanks-page{
    text-align: center;
}

.text-container {
    position: absolute;
    color: #ffffff;
    left: 18rem;
    top: 2rem;
    background-color: rgb(41, 41, 41, 0.8);
    padding: 1rem;
}
    
.ohtani-image{
    opacity: 23%;
    text-transform: capitalize;
    color: #ffffff;
    background-size: cover;
    background-position: center;
}

.ohtani-feature-items{
    display: flex;
    gap: 24px;
    flex-direction: column;
    padding-top: 15px;
}


@media (min-width: 768px) {
    .ohtani-feature-items{
        flex-direction: row;
    }
}

.ohtani-feature-item-back{
    justify-content: center;
}

.ohtani-nav{
    display: flex;
    justify-content: flex-end;
    margin-top: -82px;
    padding-bottom: 20px;
    overflow: hidden;
}

.ohtani-mini-text{
    color: #000000;
    font-weight: bold;
}

.ohtani-feature-item{
    background-color: #84c3ff;
    padding: 10px;
    box-sizing: border-box;
}

.div{
    display: block;
}

.ohtani-main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ohtani-headline{
    font-size: 33px;
    text-align: center;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 h2{
    text-align: center;
    font-size: 1.5rem;
 }

 p{
    text-align: center;
    font-size: 1rem;
 }

nav a{
 display: inline-flex;
    padding: 16px;
    color: #ba0021;
    margin-top: 4px;
    margin-bottom: 4px;
    text-decoration: none;
    transition: all .25s ease;
    width: auto;
}

.ohtani-gif{
   display: flex;
    width: 100%;
}

a{
    background-color: transparent;
}

html{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}


