/* Place CSS styles here */

.ohtani-header{
    display: block;
    justify-content: space-between;
    background-color: rgb(132, 195, 255);
    padding: 10px;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ohtani-footer{
    padding-top: 20px;
    font-weight: bold;
}


.ohtani-newsletter-form{
    
}

.ohtani-image{
    padding-bottom: 15px;
}

.ohtani-feature-items{
    display: flex;
    gap: 24px;
}

.ohtani-nav{
    display: flex;
    overflow: hidden;
    justify-content: flex-end;
    gap: 25px;
}

.ohtani-mini-text{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.ohtani-feature-item{
    background-color: rgb(132, 195, 255);
    padding: 10px;
}

.div{
    display: block;
}

.ohtani-main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

}
 h3{
    text-align: center;
 }

 p{
    text-align: center;
 }


